:root {
	--sans-serif: "acumin-pro";
	--sans-serif-condensed: "acumin-pro-condensed";
	--sans-serif-xcondensed: "acumin-pro-extra-condensed";

	& {
		font-family: var(--sans-serif);
	}
}
b {
	font-weight: normal;
}


@media screen and (min-width: $small) {
	font-size: calc(1em + 0.5 * ((100vw - 20em) / 60));
}
@media screen and (min-width: $large) {
	font-size: calc(0.8em + 0.5 * ((100vw - 20em) / 60));
}

.sans-serif {
	font-family: var(--sans-serif);
	
	&-xsmall {
		@extend .sans-serif;
		font-size: 0.8em;				
	}
	&-small {
		@extend .sans-serif;
		font-size: 0.9em;				
	}
	&-normal {
		@extend .sans-serif;
		font-size: 1.1em;
	}
	&-weight-100 {
		@extend .sans-serif;
		font-weight: 100;
	}
	&-large {
		@extend .sans-serif;
		font-size: 2em;			
	}
	&-xxxlarge {
		@extend .sans-serif;
		font-size: 4em;
	}
	
	&-condensed {
		font-family: var(--sans-serif-condensed);		
	}

	&-xcondensed {
		font-family: var(--sans-serif-xcondensed);		
	}
}






